@import "tailwindcss";

@theme inline {
  --font-display: var(--font-display-source);
  --font-body: var(--font-body-source);
}

@theme {
  --color-burgundy: #553a3d;
  --color-pink: #bea2a7;
  --color-dark-green: #3b4141;
  --color-cream: #fff3e0;
  --color-orange-brown: #8d6e50;
}
